allow vendor_init rootfs:dir { write } 
allow vendor_init rootfs:dir { add_name } 
allow vendor_init rootfs:dir { create } 
allow vendor_init rootfs:dir { setattr } 
allow init tmpfs:lnk_file { create } 
allow fsck block_device:blk_file { read } 
allow fsck block_device:blk_file { open } 
allow fsck block_device:blk_file { write } 
allow init sysfs:file { setattr } 
allow vendor_init system_data_file:dir { setattr } 
allow vendor_init system_data_file:dir { write } 
allow vendor_init system_data_file:dir { add_name } 
allow vendor_init system_data_file:dir { create } 
allow vendor_init camera_data_file:dir { setattr } 
allow vendor_init media_rw_data_file:dir { setattr } 
allow vendor_init wifi_data_file:dir { setattr } 
allow vendor_init dhcp_data_file:dir { setattr } 
allow init hal_light_hwservice:hwservice_manager { add } 
allow init hidl_base_hwservice:hwservice_manager { add } 
allow init default_android_hwservice:hwservice_manager { find } 
allow init hal_bluetooth_hwservice:hwservice_manager { find } 
allow init default_android_hwservice:hwservice_manager { add } 
allow init default_android_vndservice:service_manager { add } 
allow logpersist logpersist:capability { dac_override } 
allow logpersist cache_file:dir { read } 
allow logpersist cache_file:dir { open } 
allow init hal_bluetooth_hwservice:hwservice_manager { add } 
allow init hal_drm_hwservice:hwservice_manager { add } 
allow hal_graphics_composer_default default_android_vndservice:service_manager { add } 
allow hal_graphics_composer_default default_android_vndservice:service_manager { find } 
allow hal_graphics_composer_default default_android_hwservice:hwservice_manager { add } 
allow init hal_gnss_hwservice:hwservice_manager { find } 
allow init hal_gnss_hwservice:hwservice_manager { add } 
allow init default_android_vndservice:service_manager { find } 
allow init hal_lineage_livedisplay_hwservice:hwservice_manager { add } 
allow rild default_android_vndservice:service_manager { find } 
allow rild default_android_hwservice:hwservice_manager { add } 
allow bootanim device:chr_file { read write } 
allow bootanim device:chr_file { open } 
allow bootanim device:chr_file { ioctl } 
allow hal_graphics_allocator_default device:chr_file { read write } 
allow hal_graphics_allocator_default device:chr_file { open } 
allow init init:socket { write } 
allow init init:capability2 { block_suspend } 
allow hal_camera_default hal_power_hwservice:hwservice_manager { find } 
allow rild vendor_data_file:dir { remove_name } 
allow rild vendor_data_file:file { unlink } 
allow init init:capability2 { block_suspend } 
allow hal_audio_default sysfs:dir { read } 
allow hal_audio_default sysfs:dir { open } 
allow init video_device:chr_file { ioctl } 
allow hal_health_default sysfs:file { read } 
allow hal_health_default sysfs:file { open } 
allow hal_sensors_default unlabeled:dir { search } 
allow hal_sensors_default unlabeled:file { read } 
allow zygote sysfs:file { read } 
allow init sysfs:file { read } 
allow init sysfs:file { open } 
allow hal_sensors_default hal_sensors_default:socket { ioctl } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow crash_dump init:process { ptrace } 
allow init socket_device:sock_file { setattr } 
allow init vendor_file:file { execute_no_trans } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow bootanim device:chr_file { ioctl } 
allow init socket_device:sock_file { unlink } 
allow init socket_device:sock_file { create } 
allow init socket_device:sock_file { setattr } 
allow init sysfs:file { read } 
allow init sysfs_wake_lock:file { write } 
allow init sysfs_wake_lock:file { open } 
allow healthd sysfs:file { open } 
allow init sensorservice_service:service_manager { find } 
allow servicemanager init:dir { search } 
allow servicemanager init:file { read } 
allow hal_power_default proc:file { write } 
allow surfaceflinger device:chr_file { ioctl } 
allow bootanim device:chr_file { ioctl } 
allow webview_zygote zygote:unix_dgram_socket { write } 
allow system_app device:chr_file { read write } 
allow system_app sysfs:file { read } 
allow system_app sysfs:file { open } 
allow radio default_android_hwservice:hwservice_manager { find } 
allow platform_app device:chr_file { read write } 
allow platform_app device:chr_file { open } 
allow platform_app device:chr_file { ioctl } 
allow platform_app sysfs:file { read } 
allow system_server init:binder { call } 
allow init vndbinder_device:chr_file { ioctl } 
allow init vndservicemanager:binder { call } 
allow priv_app device:chr_file { read write } 
allow priv_app device:chr_file { open } 
allow priv_app device:chr_file { ioctl } 
allow priv_app sysfs:file { read } 
allow priv_app sysfs:file { open } 
allow system_server default_android_hwservice:hwservice_manager { find } 
allow system_server default_android_service:service_manager { add } 
allow platform_app device:chr_file { read write } 
allow hal_health_default sysfs:file { read } 
allow hal_health_default sysfs:file { open } 
allow hal_health_default sysfs:file { getattr } 
allow system_server init:binder { call } 
allow platform_app device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { read write } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow hal_health_default sysfs:file { read } 
allow hal_health_default sysfs:file { open } 
allow hal_health_default sysfs:file { getattr } 
allow platform_app device:chr_file { read write } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow init init:socket { read } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { read write } 
allow platform_app device:chr_file { ioctl } 
allow hal_audio_default device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow init init:socket { ioctl } 
allow init init:socket { read } 
allow surfaceflinger device:chr_file { ioctl } 
allow system_app device:chr_file { ioctl } 
allow system_app device:chr_file { read write } 
allow system_app sysfs:file { read } 
allow system_app sysfs:file { open } 
allow system_app sysfs:file { getattr } 
allow surfaceflinger device:chr_file { read write } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow system_server init:binder { call } 
allow hal_audio_default device:chr_file { ioctl } 
allow init vndbinder_device:chr_file { ioctl } 
allow init vendor_data_file:sock_file { write } 
